#about
	h1 
		a(href="/", title="back to the game...") Invaders United
	
	h3 Introduction
	
	p A re-imagining of the old classic 
		a(href="http://en.wikipedia.org/wiki/Space_Invaders") Space Invaders
	
	p It features a new twist to the gameplay and is built with new technologies like Node.js, Processing.js, Sockets.io
		
	p And of course gives an answer to the question: What would it feel like to be one of of the invaders? 
	
	p You can find more information here: 
	
	p Thanks for playing this game. It was fun creating it so we are very pleased to be releasing it for free...
	
	h3 How do I play? 
	
	p Main goal of the game is to survive 10 waves in the invasion and become a defender yourself
	
	p As a defender you'll have the chance to evaporate upcoming waves of invaders and achieve a high score
	
	p There's a waiting list so depending on the queue it might take a while to enter the game
	
	h3 Credits:
	
	p Programmer: Makis Tracend (@tracend)
	
	p UI Design: Lyndel Thomas (@ryndel) 
	