#about
	h1 
		a(href="/", title="back to the game...") Invaders United
	
	p Thanks for playing this game. It was fun creating it and very pleased we are releasing it for free...
	
	h3 Created by:
	
	p Makis Tracend (@tracend)
	
	p Lyndel Thomas (@ryndel) 
	