#about
	h1 
		a(href="/", title="back to the game...") Invaders United
		
	
	
	p <strong>Invaders United</strong> is a re-imagining of the old classic Space Invaders. It features a new twist to the gameplay, giving an answer to the question: <b>What would it feel like to be one of of the invaders?</b> 
	
	h3 Technology
	p Invaders United is built with new technologies like Node.js, Processing.js, Sockets.io and we are very pleased to release the full source code for free, hosted on Github: 
		a(href="https://github.com/amigame/invadersunited", title="this link will open a new window", target="_blank") www.github.com/amigame/invadersunited
	
	h3 How do I play? 
	
	p Use your left and right arrows to move and your spacebar to shoot (you can only shoot when you are the defender). The main objective is to survive 10 waves in the invasion and become a defender yourself. As a defender you'll have the chance to evaporate upcoming waves of invaders and achieve a high score. There's a waiting list so depending on the queue it might take a while to enter the game. 
	
	
	h3 Credits:
	
	p Programmer: Makis Tracend (@tracend)
	
	p Graphics / testing: Lyndel Thomas (@ryndel) 
	
	p &nbsp;
	
	p Thanks for playing. It was fun creating it so and touching to release a game that struck a chord of nostalgia...
	