#wrapper
	
	canvas#arena 
	
	aside 
		
		section#load
			div#enter
				
				div#title
					h1 Invaders United
					a(href="/about", title="this link will refresh the current window", id="howto") How do I play?
				
				p Enter your email to join the game: 
				form#login
					input(type="text")
					button(type="submit") PLAY
					
				
			div#banner
				p Every time you click on this banner a little invader gets its wings ;)
				script(type="text/javascript")
					google_ad_client = "ca-pub-4881462406903539"; google_ad_slot = "2924317585"; google_ad_width = 336; google_ad_height = 280;
				script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
	
		section#lobby
			div.pull 
				a &lt;
			
			div#wave
				p next wave in ~<span>X</span> seconds
			
			div#chat-component
				ul(id="chat-stream")
				
				form(id="chat", name="chat-form", action="javascript:void()", method="post")
					input(type="text", name="chat-text", value="", placeholder="talk to others while waiting...")
					button(type="submit") Chat
			
			div#draft
				h3 Waiting list: 
				
				ul#waiting
			
			div#info
				p Invaders United is an HTML5 multiplayer game inspired from an old classic... 
					a(href="/about", title="this link will refresh the current window") learn more
				p Hey! You don't have to wait for your turn. Download the code and setup your own game :P 
					a(href="https://github.com/amigame/invadersunited", title="this link will open a new window", target="_blank") Available on Github
				
				div#social
					div
						a(href="http://twitter.com/share", class="twitter-share-button", data-count="vertical", data-via="tracend", data-related="kdiweb:Invaders United is an am.i-ga.me production sponsored by K&D Interactive") Tweet
						script(type="text/javascript", src="http://platform.twitter.com/widgets.js")
					div
						fb:like(href="http://invadersunited.com", send="false", layout="box_count", width="60", show_faces="true", font="")
					div
						g:plusone(size="tall")


script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/assets/js/libs/require.js')
script(type='text/javascript', src='/assets/js/main.js')
