#wrapper
	
	#stage
	
	aside 
		div#banner
			script(type="text/javascript")
				google_ad_client = "ca-pub-4881462406903539"; google_ad_slot = "2924317585"; google_ad_width = 336; google_ad_height = 280;
			script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
	
		ul(id="response")
		
		form(id="chat", name="chat", action="javascript:void()", method="post")
			input(type="text", name="msg", id="msg")
			input(type="submit")