#wrapper
	
	canvas#arena 
	
	aside 
		
		section#load
			div#enter
				h1 Invaders United
				p Enter your email
				form#login
					input(type="text")
					input(type="submit", value="PLAY")
				
			div#banner
				p Every time you click on this banner a little invader gets its wings ;)
				script(type="text/javascript")
					google_ad_client = "ca-pub-4881462406903539"; google_ad_slot = "2924317585"; google_ad_width = 336; google_ad_height = 280;
				script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
	
		section#lobby
			div.pull 
				a &lt;
			
			div#wave
				Next wave in ~<span>X</span> seconds
			
			div#chat
				ul(id="chat-stream")
				
				form(id="chat", name="chat-form", action="javascript:void()", method="post")
					input(type="text", name="chat-text", value="", placeholder="talk to others while waiting...")
					input(type="submit")
			
			div#wave
				h3 Runner-ups: 
				
				ul#waiting
			
			div#info
				p Invaders United is a simple fun game 
					a(href="/about", title="this link will refresh the current window") learn more...
				p Tired of waiting for your turn? Download the code and setup your own game! 
					a(href="https://github.com/amigame/invadersunited", title="this link will open a new window", target="_blank") Available on github
					