!!!5
html
	head
	title= title
	link(rel="stylesheet", href="/assets/css/jquery.noty.css")
	link(rel="stylesheet", href="/assets/css/noty_theme_default.css")
	link(rel="stylesheet", href="/assets/css/main.css")
body
	!= body
	
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src="/assets/js/libs/require.js")
	script(type="text/javascript", src="/assets/js/main.js")