!!!5
html
	head
	title= title
body
	#wrapper
	!= body
	
	aside 
		div#banner
			script(type="text/javascript")
				google_ad_client = "ca-pub-4881462406903539"; google_ad_slot = "2924317585"; google_ad_width = 336; google_ad_height = 280;
			script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
	
	script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
	script(type='text/javascript', src="/assets/js/libs/json.js")
	script(type="text/javascript", src="/assets/js/libs/cake.js")
	script(type="text/javascript", src="/assets/js/invaders.js")
	script(type="text/javascript", src="/assets/js/interactions.js")
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type="text/javascript", src="/assets/js/main.js")