!!!5
html(manifest="manifest.appcache")
	head
	title= title
	link(rel="stylesheet", href="/assets/css/main.css")
	meta(name="apple-mobile-web-app-capable", content="yes")
	link(rel="shortcut icon", href="favicon.ico")
	link(rel="apple-touch-icon", href="apple-touch-icon.png")
	link(href='http://fonts.googleapis.com/css?family=VT323', rel='stylesheet', type='text/css')

	body
		!= body
		
		div(id="fb-root")
		